
<div class="@ContainerClass" style="width:@Width; height:@Height">
    <img src="@Src" class="@Class" />
</div>


@code {
    [Parameter]
    public string Src { get; set; }
    [Parameter]
    public string ContainerClass { get; set; }

    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Width { get; set; }
    [Parameter]
    public string Height { get; set; }
    [Parameter]
    public string Id { get; set; }

    public ImageConstructor()
    {
        Src = "";
        ContainerClass = "";
    }
}
