@using ArtStudio.Models
@using ArtStudio.Services


@inject NavigationManager NavigationManager
@inject JSRuntimeService JSRuntimeService
@inject IJSRuntime JS
<h3>EntityDetails</h3>

@code {
    [Parameter]
    public EntityData EntityData { get; set; }

    [Parameter]
    public bool isReading { get; set; }
    [Parameter]
    public string ResourceType{ get; set; }

    [Parameter]
    public bool isNew { get; set; }

    public async void EntityUpdate()
    {

            Response result = await JSRuntimeService.InvokeScript("SendRequest", new { type = "post", url = "/api/entity/post", data = "sss", contentType = "application/json" });
            if (result.isSuccess)
            {
                NavigationManager.NavigateTo("/", true);
            }

    }
}

@if (isNew)
{
    
}
else
{

}