@page "/pricing"
@using ArtStudio.Models
@using ArtStudio.Services

@inject ApplicationDBContext dBContext

<div class="identity_bg ">
</div>
<div class="d-flex justify-content-center align-items-center" style="width:100%; height:100vh">
    <div class="pricing_container">
        @for (int i = 0; i < Packages.Count; i++)
        {
            string IfCenterStyle = "";
            if (i == 1)
            {
                IfCenterStyle = "background-color: #9184ef;";
            }
            else
            {
                IfCenterStyle = "";
            }
            <div class="pricing_card">
                <div class="pricing_card_header"  style="@IfCenterStyle">@Packages[i].DisplayAlias</div>
                <div class="pricing_card_cost">@Packages[i].Price грн</div>
                <div class="pricing_card_count">@Packages[i].CountOfDownlaods</div>
                <div class="pricing_card_count_h">Cкачиваний</div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="/register" class="shine-button " style=" border-color: #ffffff33;">Купить пакет</a>
                </div>
            </div>
        }

    </div>
</div>
@code{
    public List<Package> Packages { get; set; }


    protected override void OnInitialized()
    {
        Packages = dBContext.Packages.Take(3).OrderBy(p => p.Order).ToList();
    }

}