@using MudBlazor
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ArtStudio</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">


    <AuthorizeView>
        <Authorized>
            <div class="ca-d-flex ca-d-center m-2">
                <MudAvatar Color="Color.Secondary" Class="ca-avatar-80">@context.User.Identity.Name[0]</MudAvatar>
            </div>
        </Authorized>
    </AuthorizeView>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </li>
    </ul>

    <AuthorizeView Policy="admin">
        <Authorized>
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="adminpanel">
                        <span class="oi oi-hard-drive" aria-hidden="true"></span> AdminPanel
                    </NavLink>
                </li>
            </ul>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


